@charset "utf-8";

@media
	all
{
	html { font: 100%/1.4 serif; }
	body { margin: 0 20px 3em; }
	#brand { padding: .2em 10px; margin-bottom: .1em; width: auto; }
	#access { height: 0; visibility: hidden; position: absolute; }
	
	/* html5 fixes */
	section, article, header, footer, nav, aside, hgroup { display: block; } 
	
	/* general styles */
	/* text */
	p { margin: 0; }
	p + p { text-indent: 1em; }
	em > em, strong > strong { letter-spacing: 1pt; }
	sup, sub { font-size: 0.8em; }
	address, figure { margin: .5em 0; }
	address { font-style: italic; }
	address .email { display: inline-block; margin-top: .35em; }
	pre, code { font-family: monospace; }
	dt { display: list-item; font-size: 1.25em; list-style: square; margin: .5em 0 .2em 2em; }
	dd { margin-left: 2.5em; }

	blockquote { font-style: italic; padding: .70em; background: #eee; border: 1px solid #bbb; margin: 1em; overflow: hidden; }
	blockquote p > cite { display: block; text-align: right; font-style: normal; }
	blockquote cite:before { content: '– '; }
	
	img, abbr { border: 0; }
	abbr, *[title] { cursor: help; }
	a, a[title], *[title] a, a *[title] { cursor: pointer; }
	th, td { padding: .5em; }

	/* top bar */
	#brand, #branches, #sf, #search ul { font-size: 1.1em; font-weight: normal; margin: 0; }
	#branches, #seq, #path, #search ul { display: block; list-style: none; padding: .2em 0; }
	#search a:hover { border-bottom: 1px solid; }
	#branches li, #seq li, #path li { display: inline; }
	#branches a, #sf legend { padding: .1em .2em; }
	#search a { margin: .1em .2em; }
	#seq { font-weight: bold; }
	#path li:after { content: ' / '; }
	#path li:last-child:after { content: ''; }

	/* general content*/
	h1, h2, h3, h4, h5, h6 { margin: .6em 0 .4em; }
	h1:first-child, h2:first-child, h3:first-child { margin-top: 0; }
	#brand, #branches, #search, h1, h2, h3, h4, h5, h6, dt, #toc, article footer { font-family: Candara, sans-serif; font-weight: normal; }
	article footer { background: #bbb; padding: 0 .5em; border: 1px solid #ddd; border-width: 1px 0; }
	.fig > * { padding: 0 0 1px; }
	.r { float: right; }
	.l { float: left; }

	/* content */
	#content ul { list-style-type: square; }

	#content > section,
	#content > aside { border-bottom: 1px solid #ddd; }

	#content > section,
	#content > aside,
	#content > article,
	#content > * > section,
	#content > * > aside,
	#content > * > article { margin-bottom: 1em; }
	
	#content > hgroup h1, #content > hgroup h2 { margin: 0; display: inline; }
	#content > hgroup h2:before { content: " – "; }
	#content.dig > h1, section#content > hgroup { text-align: center; }
	#content.dig > h1, section#content > hgroup * { font-size: 1.2em; }
	#content.dig > hgroup { margin-bottom: .5em; }
}

@media
	screen,
	projection,
	handheld,
	tv
{
	/* top bar */
	#brand > span:after, #brand > a:after { content: ':'; }
	#brand, #branches { background: #000; color: #fff; }
	#brand a { color: #fff; }
	#branches { position: relative; }
	#branches a { color: #fff; border: none; }
	#branches li a { background: #800; border-radius: 2px; }
	#branches li:hover a, #branches li:focus a { background: #a41; }
	#branches li.active a { background: #c11; }
	#branches li.active:hover a, #branches li.active:focus { background: #c52; }
	#sf fieldset { border: 1px solid #ddd; padding: 1em; }
	
	/* general */
	a { color: #a00; text-decoration: none; }
	a:hover, thead th { border-bottom: 1px solid; }
	a:visited { color: #821; }
	abbr { border-bottom: 1px dotted; }
	
	pre, code { overflow: auto; }
	
	h1:target, h2:target, h3:target { border: 1px dotted #eee; border-width: 1px 0 1px; padding: 0 .3em; }
	
	#content, #content article, #content section, #content aside { overflow: hidden; }

	#comments, #comments form { margin: 1em 0; }
	#about { font-size: .8em; margin-top: 3em; margin-bottom: 4em; padding: 1em 0; }
}

/*** Resolutions ***/

/* Handheld screens */
@media
	screen and (max-width: 619px),
	projection and (max-width: 619px),
	tv and (max-width: 619px),
	handheld
{
	body { max-width: 536px; }
	
	/* title bar */
	#brand { position: absolute; left: 0; right: 0; top: 0; }
	#brand { margin: 0; padding: .3em 4px; }
	#brand > * { padding: .2em 4px; }
	#branches { position: absolute; right: 0; top: 0; margin: 0 auto; padding: .3em; width: auto; }
	#branches li a { padding: .2em .3em; }
	#seq { float: right; margin: 0; }
	#path { margin-top: 2.3em; }
	#search { margin-top: 1em; margin-bottom: 1em; }
}

/* Small (e.g. netbook) to large (e.g. desktop) screens */
@media
	screen and (min-width: 620px),
	projection and (min-width: 620px),
	tv and (min-width: 620px)
{
	body { margin-left: 100px; width: 520px; }

	/* top bar */
	#brand { position: absolute; left: 0; right: 0; }
	#seq { position: absolute; left: 0; }
	#search { position: absolute; top: 1.8em; left: 370px; width: 240px; text-align: right; }
	#search a { color: #fff; }
	#sf input, #sf legend { margin: 0 .5em .5em; }
	#sf { margin: 0; padding: 0; float: right; }
	#sf fieldset { margin: 2px; padding: 2px; }
	
	#seq { width: 80px; margin: 0; padding: .2em 10px; }
	#path { width: 270px; margin-bottom: 3em; margin-top: 0; }
	
	/* content */
	#content > * aside { float: right; width: 140px; border: solid #ddd; border-width: 1px 0; margin: 0 0 .5em .5em; }
}

/* Handheld AND Netbook screens (everything up to 979px) */
@media
	screen and (max-width: 979px),
	projection and (max-width: 979px),
	tv and (max-width: 979px),
	handheld
{

}

/* Larger screens */
@media
	screen and (min-width: 980px),
	projection and (min-width: 980px),
	tv and (min-width: 980px)
{
	body { margin-left: 100px; width: 860px; }   
	
	/* top bar */
	#branches { width: 540px; }
	
	#search, #sf legend { color: #fff; }
	#search { position: absolute; top: 0; left: 640px; width: 320px; }
	#sf { background: #000; }
	#sf fieldset { border-color: #333; }
	#sf input, #sf legend { margin: 0; }
	
	#path { width: 520px; margin-bottom: 1em; margin-top: 0; }
	
	/* content */
	#content .teasers { width: 860px; }
	#content .teasers article { float: left; }
	#content .teasers article:first-child { border-right: 1px solid #ddd; margin-right: 20px; padding-right: 20px; }
	#content .teasers.two article { width: 409px; }
	#content .teasers.three article { width: 259px; }
	#content .teasers.three article:last-child { border-left: 1px solid #ddd; margin-left: 20px; padding-left: 20px; }
	
	#content > aside { width: 320px; }
	section#content > article, section#content > section { float: left; width: 520px; }
	section#content > aside { margin-left: 540px; }
	
	article#content { width: 860px; }
	article#content > aside { float: right; margin: 0 0 1em 20px; }
	
	#content > * aside { border: 1px solid #ddd; border-width: 1px 0; padding: 10px; }
}

@media print {
	a { border-bottom: 1pt solid; color: #000; text-decoration: none; }
	thead tr { border-bottom: 1pt solid #000; }

	#brand a, #path a { border-bottom: none; }
	#path { margin: .2em 0; font-style: italic; }
	#brand { font-weight: bold; padding: 0; }
	#branches, #seq, #search { display: none; }
	
	#brand, #about { text-align: center; }

	a[href^="http://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="https://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="ftp://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="mailto:"]:after { border-bottom: none; content: " ("attr(href)")"; }
}
