@charset "utf-8";

@media
	all
{
	html { font: 100%/1.4 serif; }
	body { margin: 0 20px 3em; }
	#brand { padding: .2em 10px; margin-bottom: .1em; width: auto; }
	#access { height: 0; visibility: hidden; position: absolute; }
	
	/* html5 fixes */
	section, article, header, footer, nav, aside, hgroup { display: block; } 
	
	/* general styles */
	/* text */
	p { margin: 0; }
	p + p,
	p + figure + p,
	p + aside + p { text-indent: 1em; }
	em > em, strong > strong { letter-spacing: 1pt; }
	sup, sub { font-size: 0.8em; }
	address { font-style: italic; margin: .5em 0; }
	address .email { display: inline-block; margin-top: .35em; }
	pre, code { font-family: monospace; }
	dt { display: list-item; font-size: 1.25em; list-style: square; margin: .5em 0 .2em 2em; }
	dd { margin-left: 2.5em; }
	
	textarea:target, input:target { border-width: 3px; }
	input[type=text], textarea { font-family: monospace; line-height: 1.5; }	
	.error { border: 1px solid #d00; background: #fdd; }
	input[type=checkbox].error { outline: 1px solid #d00; }
	input[type=checkbox].error:target { outline: 2px solid #d00; }

	blockquote { font-style: italic; padding: .70em; background: #eee; border: 1px solid #bbb; margin: 1em; overflow: hidden; }
	blockquote p > cite { display: block; text-align: right; font-style: normal; }
	blockquote cite:before { content: '– '; }
	
	img, abbr { border: 0; }
	abbr, *[title] { cursor: help; }
	a, a[title], *[title] a, a *[title] { cursor: pointer; }
	th, td { padding: .5em; }

	/* top bar */
	#brand, #branches, #sf, #search ul { font-size: 1.1em; font-weight: normal; margin: 0; }
	#branches, #seq, #path, #search ul { display: block; list-style: none; padding: .2em 0; }
	#search a:hover { border-bottom: 1px solid; }
	#branches li, #seq li, #path li { display: inline; }
	#branches a, #sf legend { padding: .1em .2em; }
	#search a { margin: .1em .2em; }
	#seq { font-weight: bold; }
	#path li:after { content: ' / '; }
	#path li:last-child:after { content: ''; }

	/* general content*/
	h1, h2, h3, h4, h5, h6 { margin: .6em 0 .4em; }
	h1:first-child, h2:first-child, h3:first-child { margin-top: 0; }
	#brand, #branches, #search, h1, h2, h3, h4, h5, h6, dt, #toc, article header, article footer { font-family: Candara, sans-serif; font-weight: normal; }
	article footer, article header .meta { background: #ddd; padding: 0 10px; border: 1px solid #bbb; border-width: 1px 0; }
	.fig > * { padding: 0 0 1px; }
	.r { float: right; }
	.l { float: left; }

	/* content */
	#content ul { list-style-type: square; }

	#content > section,
	#content > aside { border-bottom: 1px solid #ddd; }

	#content > section,
	#content > aside,
	#content > article,
	#content > * > section,
	#content > * > aside,
	#content > * > article { margin-bottom: 1em; }
	
	#content > hgroup h1, #content > hgroup h2 { margin: 0; display: inline; }
	#content > hgroup h2:before { content: " – "; }
	#content.dig > h1, section#content > hgroup { text-align: center; }
	#content.dig > h1, section#content > hgroup * { font-size: 1.2em; }
	#content.dig > hgroup { margin-bottom: .5em; }
	
	#comments article.new { border-top: 1px solid #3a3; }
}

@media
	screen,
	projection,
	handheld,
	tv
{
	/* top bar */
	#brand > span:after, #brand > a:after { content: ':'; }
	#brand, #branches { background: #000; color: #fff; }
	#brand a { color: #fff; }
	#branches { position: relative; }
	#branches a { color: #fff; border: none; }
	#branches li a { background: #800; border-radius: 2px; }
	#branches li:hover a, #branches li:focus a { background: #a41; }
	#branches li.active a { background: #c11; }
	#branches li.active:hover a, #branches li.active:focus { background: #c52; }
	#sf fieldset { border: 1px solid #ddd; padding: 1em; }
	
	/* general */
	a { color: #a00; text-decoration: none; }
	a:hover, thead th { border-bottom: 1px solid; }
	a:visited { color: #821; }
	abbr { border-bottom: 1px dotted; }
	
	pre, code { overflow: auto; }
	
	h1:target, h2:target, h3:target { border: 1px dotted #ddd; border-width: 1px 0 1px; padding: .3em 0; }
	
	#content, #content article, #content footer,
	#comments, #comments article { overflow: hidden; }

	#comments { margin: 1em 0; }
	#about { font-size: .8em; margin-top: 3em; margin-bottom: 4em; padding: 1em 0; }
}

/*** Resolutions ***/

/* Handheld screens */
@media
	screen and (max-width: 619px),
	projection and (max-width: 619px),
	tv and (max-width: 619px),
	handheld
{
	body { max-width: 536px; }
	
	/* title bar */
	#brand { position: absolute; left: 0; right: 0; top: 0; }
	#brand { margin: 0; padding: .3em 4px; }
	#brand > * { padding: .2em 4px; }
	#branches { position: absolute; right: 0; top: 0; margin: 0 auto; padding: .3em; width: auto; }
	#branches li a { padding: .2em .3em; }
	#seq { float: right; margin: 0; }
	#path { margin-top: 2.3em; }
	#search { margin-top: 1em; margin-bottom: 1em; }
}

/* Small (e.g. netbook) to large (e.g. desktop) screens */
@media
	screen and (min-width: 620px),
	projection and (min-width: 620px),
	tv and (min-width: 620px)
{
	body { margin-left: 100px; width: 520px; }

	/* top bar */
	#brand { position: absolute; left: 0; right: 0; }
	#seq { position: absolute; left: 0; }
	#search { position: absolute; top: 1.8em; left: 370px; width: 240px; text-align: right; }
	#search a { color: #fff; }
	#sf input, #sf legend { margin: 0 .5em .5em; }
	#sf { margin: 0; padding: 0; float: right; }
	#sf fieldset { margin: 2px; padding: 2px; }
	
	#seq { width: 80px; margin: 0; padding: .2em 10px; }
	#path { width: 270px; margin-bottom: 3em; margin-top: 0; }
	
	/* content */
	/*#content > * aside { float: right; width: 140px; border: solid #ddd; border-width: 1px 0; margin: 0 0 .5em .5em; }*/
}

/* Handheld AND Netbook screens (everything up to 979px) */
@media
	screen and (max-width: 979px),
	projection and (max-width: 979px),
	tv and (max-width: 979px),
	handheld
{

}

/* Larger screens */
@media
	screen and (min-width: 980px),
	projection and (min-width: 980px),
	tv and (min-width: 980px)
{
	/* widths */
	body { margin-left: 100px; }
	
	#content > footer { width: 840px; }

	#branches, #path,
	article#content > *, #content header h1,
	#comments h2, #comments h3,
	#comments article, #comments form { width: 520px; }
	
	body,
	#content header, #content footer,
	#content .teasers,
	#comments > section { width: 860px; }
	
	#content .meta,
	#comments textarea { width: 500px; }
	
	#comments > ol { width: 480px; }
	
	#comments article > * { width: 370px; } 

	#content aside,
	#comments aside,
	#search { width: 320px; }
	
	#comments article header { width: 130px; }
	
	#comments form input[type=text] { width: 50%; }
	
	/* floating */
	#content .teasers article,
	#content .meta,
	#comments article header,
	#comments form { float: left; }
	
	#content .teaser,
	#content aside,
	#comments article p,
	#comments aside { float: right; }
	
	#content footer p { float: none; }

	/* clearing */
	#comments article,
	#comments section { clear: both; }

	#content footer,
	#content aside { clear: right; }

	/* edging */
	#content,
	#content footer,
	#comments { margin-top: 1em; }
	
	#path { margin-bottom: 1em; }

	#comments article,
	#content header .meta { margin-bottom: .5em;}
	
	#comments article header { margin-right: 20px; }

	#content header h1,
	#content header h2,
	#content header h3 { margin: 0 0 .1em; }
	
	#sf input, #sf legend { margin: 0; }

	#comments ol { padding-left: 40px; } 
	#content aside { padding-bottom: .5em; }
	#comments article { padding-top: .5em; }
	#comments textarea { padding: .5em 10px; }

	#content aside { border-bottom: 1px solid #bbb; }
	#comments article { border-top: 1px solid #bbb; }
	#sf fieldset { border-color: #333; }

	/* misc */
	#search, #sf legend { color: #fff; }
	#search { position: absolute; top: 0; left: 640px; }
	#sf { background: #000; }

	/* teasers */
	#content .teasers article { float: left; }
	#content .teasers article:first-child { border-right: 1px solid #ddd; margin-right: 20px; padding-right: 20px; }
	#content .teasers.two article { width: 409px; }
	#content .teasers.three article { width: 259px; }
	#content .teasers.three article:last-child { border-left: 1px solid #ddd; margin-left: 20px; padding-left: 20px; }
}

@media print {
	a { border-bottom: 1pt solid; color: #000; text-decoration: none; }
	thead tr { border-bottom: 1pt solid #000; }

	#brand a, #path a { border-bottom: none; }
	#path { margin: .2em 0; font-style: italic; }
	#brand { font-weight: bold; padding: 0; }
	#branches, #seq, #search { display: none; }
	
	#brand, #about { text-align: center; }

	a[href^="http://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="https://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="ftp://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="mailto:"]:after { border-bottom: none; content: " ("attr(href)")"; }
}
