@charset "utf-8";

@media all {
	html { font: 100%/1.4 serif; }
	body { margin: 0 20px 3em; }
	#brand { padding: .2em 10px; margin-bottom: .1em; width: auto; }
	#access { visibility: hidden; margin: 0; width: 0; height: 0; }
	
	/* general styles */
	img, abbr { border: 0; }
	q { quotes: "" "" "" ""; }
	em > em, strong > strong { letter-spacing: 1pt; }
	sup, sub { font-size: 0.8em; }
	p, address, figure { margin: .5em 0; }
	abbr, *[title] { cursor: help; }
	a, a[title], *[title] a, a *[title] { cursor: pointer; }
	cite:before { content: '– '; }
	address { font-style: italic; }
	address .email { display: inline-block; margin-top: .35em; }
	pre, code { font-family: monospace; }
	th, td { padding: .5em; }
	dt { display: list-item; font-size: 1.25em; list-style: square; margin: .5em 0 .2em 2em; }
	dd { margin-left: 2.5em; }
	
	/* bar on top */
	#brand > span:after, #brand > a:after { content: ':'; }
	#brand, #branches, #sf, nav.extra ul { font-size: 1.1em; font-weight: normal; margin: 0; }
	#branches, #seq, #path, nav.extra ul { display: block; list-style: none; padding: .2em 0; }
	nav.extra a:hover { border-bottom: 1px solid; }
	#branches li, #seq li, #path li { display: inline; }
	#branches a, #sf legend { padding: .1em .2em; }
	nav.extra a { margin: .1em .2em; }
	#seq { font-weight: bold; }
	#path li:after { content: ' /'; }
	#path li:last-child:after { content: ''; }

	h1, h2, h3, h4, h5, h6 { margin: .6em 0 .4em; }
	h1:first-child, h2:first-child, h3:first-child { margin-top: 0; }
	#brand, #branches, nav.extra, h1, h2, h3, h4, h5, h6, dt, #toc, article footer { font-family: Candara, sans-serif; font-weight: normal; }
	#content ul { list-style-type: square; }
	article footer { background: #ddd; padding: 0 .5em; border: 1px solid #bbb; border-width: 1px 0; }
	body > footer { font-size: .8em; margin-top: 3em; margin-bottom: 4em; }
	.fig > * { padding: 0 0 1px; }
}

@media screen, projection, handheld, tv {
	#brand, #branches { background: #000; color: #fff; }
	#brand a { color: #fff; }
	#branches { position: relative; }
	#branches a { color: #fff; border: none; }
	#branches li a { background: #800; border-radius: 2px; }
	#branches li:hover a, #branches li:focus a { background: #a41; }
	#branches li.active a { background: #c11; }
	#branches li.active:hover a, #branches li.active:focus { background: #c52; }
	#sf fieldset { border: 1px solid #bbb; }
	
	a { color: #a00; text-decoration: none; }
	a:hover, thead th { border-bottom: 1px solid; }
	a:visited { color: #821; }
	abbr { border-bottom: 1px dotted; }
	
	pre, code { overflow: auto; }
	
	h1:target, h2:target, h3:target { border: 1px dotted #eee; border-width: 1px 0 1px; padding: 0 .3em; }
	
	#content, #content article, #content aside { overflow: hidden; }
	#about { padding: 1em 0; }
}

/*** Resolutions ***/

/* Handheld screens */
@media
	screen and (max-width: 619px),
	projection and (max-width: 619px),
	tv and (max-width: 619px),
	handheld
{
	body { margin: 0; max-width: 536px; }
	body > * { margin-left: 8px; margin-right: 8px; }
	#brand { margin: 0; padding: .3em 4px; }
	#brand > * { padding: .2em 4px; }
	#branches { position: absolute; right: 0; top: 0; margin: 0 auto; padding: .3em; width: auto; }
	#branches li a { padding: .2em .3em; }
	#seq { float: right; margin-bottom: 0; }
	#seq, #path { margin-top: 0; }
	nav.extra { margin-top: 1em; margin-bottom: 1em; }
	
	#content .content img { width: 100%; }
	#content .content img[width] { width: auto; height: auto; max-width: 100%; }
}

/* Small (e.g. netbook) screens */
@media
	screen and (min-width: 620px),
	projection and (min-width: 620px),
	tv and (min-width: 620px)
{
	body { margin-left: 100px; width: 520px; }
	
	/* top bar */
	#brand { position: absolute; left: 0; right: 0; }
	#seq { position: absolute; left: 0; }
	nav.extra { position: absolute; top: 1.8em; left: 370px; width: 240px; text-align: right; }
	nav.extra a { color: #fff; }
	#sf input, #sf legend { margin: 0 .5em .5em; }
	#sf { margin: 0; padding: 0; float: right; }
	#sf fieldset { margin: 2px; padding: 2px; }
	
	#seq { width: 80px; margin: 0; padding: .2em 10px; }
	#path { width: 270px; margin-bottom: 3em; margin-top: 0; }
	
	/* content */
	#content .content img { width: 520px; }
	#content .content img[width] { width: auto; height: auto; max-width: 520px; }
}

/* Handheld AND Netbook screens */
@media
	screen and (max-width: 979px),
	projection and (max-width: 979px),
	tv and (max-width: 979px), handheld
{
	#content > article, #content > aside { border-bottom: 1px solid #bbb; margin-bottom: 1em; padding-bottom: 1em; }
	#content > aside:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 1px; }
	#content > * :last-child { margin-bottom: 0; }
}

/* Larger screens */
@media
	screen and (min-width: 980px),
	projection and (min-width: 980px),
	tv and (min-width: 980px)
{
	body { margin-left: 100px; width: 860px; }  
	section#content > article { width: 520px; margin-right: 20px; float: left; }
	section#content > aside { width: 320px; float: right; position: relative; right: 0; border-bottom: 1px solid #bbb; padding-bottom: .5em; margin-bottom: .5em; }
	#content > aside > *:first-child { margin-top: 0; }
	#content > aside > *:last-child { margin-bottom: 0; }
	article#content > aside { width: 320px; float: right; border-bottom: 1px solid #bbb; padding-bottom: .5em; margin-bottom: .5em; margin-left: .5em; } 
	
	/* top bar */
	#branches { width: 540px; }
	
	nav.extra, nav.extra legend { color: #fff; }
	nav.extra { position: absolute; top: 0; left: 640px; width: 320px; }
	#sf { background: #000; }
	#sf fieldset { border-color: #333; }
	#sf input, #sf legend { margin: 0; }
	
	#path { width: 520px; margin-bottom: 1em; margin-top: 0; }
}


@media screen, projection, tv {
	#content > article > *:first-child { margin-top: 0; }
	#content > aside > *:first-child { padding-top: 0; }
	#content > aside h2, #content > aside h3, #content > aside h4 { margin-top: 0; }
}

@media print {
	a { border-bottom: 1pt solid; color: #000; text-decoration: none; }
	thead tr { border-bottom: 1pt solid #000; }
	
	#brand a, #path a { border-bottom: none; }
	#path { margin: .2em 0; }
	#brand { font-weight: bold; padding: 0; }
	#branches, #seq, nav.extra { display: none; }
	
	#content > aside { border-top: 1pt solid #bbb; padding: 1em 0 0; margin: 1em 0 0; }
	a[href^="http://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="https://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="ftp://"]:after { border-bottom: none; content: " ("attr(href)")"; }
	a[href^="mailto:"]:after { border-bottom: none; content: " ("attr(href)")"; }
}
