@charset "UTF-8";

html { background: #87bff6 url("../img/gerbera.jpg") no-repeat bottom right; height: 100%; }
#container .content, #about { width: 510px; padding-right: 10px; }
#container .content, #container .note, #about { background: rgba(135, 191, 246, .8);  }
@media (max-width: 619px) { body > .nav.extra { background: rgba(135, 191, 246, .8); padding: 10px; } }
@media (max-width: 979px) {
	#sf { background: rgba(135, 191, 246, .8); }
	#container .content, #container .note, #container .note:last-child { padding: 1em 10px 1em 0; }
	#sf fieldset { border-color: #f71e1e; }
}
@media (min-width: 980px) {
	#container .content { padding: 0 10px 10px 0; }
	#container .note { width: 300px; padding: 0 10px 10px; }
}
#container .content, #container .note { border-color: #f71e1e; }
body > .path a, #container a, #about a { color: #f71e1e; }
body > .path a:visited, #container a:visited, #about a:visited { color: #cd1919; }
