<IfModule mod_rewrite.c>

#Options	+FollowSymlinks
RewriteEngine	On
RewriteBase	/

# For Friendly URLs
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
# Remove multiple trailing slashes at the end
RewriteCond	%{REQUEST_URI}	^(.*)//(.*)$
RewriteRule	.		%1/%3	[L,R=301]

# For Friendly URLs
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteCond	%{REQUEST_URI}	!(.*)/$
RewriteRule	^(.*)$		$1/	[L,R=301]

# For Friendly URLs
RewriteCond	%{REQUEST_FILENAME}	!-f
RewriteCond	%{REQUEST_FILENAME}	!-d
RewriteRule	^(.*)$	/index.php?q=$1	[L,QSA,NC]

# Default character set
AddDefaultCharset	utf-8
</IfModule>

