#### For detail information on mod_rewrite see http://httpd.apache.org/docs/3.2/mod/mod_rewrite.html ####

RewriteEngine	On
RewriteBase	/

# URL fixes
RewriteCond	%{REQUEST_FILENAME}/		-d
RewriteCond	%{REQUEST_URI}			!^(.*)/$
RewriteRule	^(.*)$				/$1/					[L,R=301]

RewriteCond	%{REQUEST_URI}			//$
RewriteRule	^(.*)/$				/$1					[L,R=301]

RewriteCond	%{REQUEST_FILENAME}		!-d
RewriteRule	^(.*)/$				/$1					[L,R=301]

RewriteCond	%{HTTP_HOST}			^www\.vorb\.de$			
RewriteRule	^(.*)$				http://vorb.de/$1			[L,R=301]

# Subdomains
RewriteCond	%{HTTP_HOST}			^(.+)\.vorb\.de				[OR]
RewriteCond	%{HTTP_HOST}			^(.+)\.localhost
RewriteRule	^(.*)$				manager.php?sub=%1&url=$1		[L,QSA]

# Normal
RewriteCond	%{REQUEST_URI}			!manager\.php	
RewriteRule	^(.*)$				/manager.php?url=$1			[L,QSA]
